body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("/assets/imgtotal3.jpg") center center/cover
}
.container_primary{
    background: transparent;
    width: 420px;
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    backdrop-filter: blur(20px);
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);

}
.container_primary h1{
    font-size: 50px;
    text-align: center;

}
.input_box{
    text-align: center;
    position: relative;
    margin: 15px 0;
}
.input_box input{
    width: 100%;
    height: 100%;
    border-radius: 40px; 
    font-size: 20px; 
    color:#fff;
    padding: 10px;
    background: transparent;
    border: none;
    border: 2px solid  rgba(255, 255, 255, .2);
    
}
.input_box input::placeholder{
    color: #fff;
}
.input_box i{
    
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.checkbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}
.checkbox a{
    color:#fff;
    text-decoration: none;
}
.checkbox a:hover{
    text-decoration: underline;
    font-weight:bold;
}
.checkbox input{
    margin-right: 5px;
}
.container_primary button{
    width: 100%;
    height: 45px;
    border-radius: 40px; 
    font-size: 20px; 
    font-weight: 600;
    background-color: #fff;
    color:#000000;
    padding: 10px;
    border: none; 
    margin-top: 10px;
}
.registro{
    text-align: center;
    margin-top: 15px;
    color: #fff
}
.registro a{
    text-decoration: none;
    color: #fff
}
.registro a:hover{
    text-decoration: underline;
    font-weight:bold;  
}