<header>
  <div class="header-container2">
    <div><img src="https://www.bancolombia.com/wcm/connect/a67af2d6-c768-4f4f-a33b-fd58074f7ce9/logo-bancolombia-black.svg?MOD=AJPERES" alt="Logo Bancolombia"></div>
    <nav>  
      <menu>
        <li *ngFor="let item of menuItems1">{{item}}</li>
      </menu>
    </nav>
    <div>
      <button class="tramite">Trámites digitales</button>
    </div>
    <div>
     <button class="disparador">Sucursal Virtual Personas</button>
     <button id="login" (click)="gologin()">Entrar</button>
  </div>
  </div>
</header>